.ad {
    margin-top: 100px;
}

.wr {
    display: block;
    width: 230px;
    height: 188px;
    border: 1px solid #B2EAEE;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 50%;
}

.link {
    display: block;
    height: 188px;
    border: 1px solid #B2EAEE;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 30px;

}

.img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.description {
    font-size: 12px;
    text-align: center;
}