.post {
    position: relative;
    padding-top: 24px;
    padding-bottom: 24px;
}

.pd {
    padding-left: 24px;
    padding-right: 24px;
}

/*setting menu*/
.setting {
    text-align: right;
    position: absolute;
    font-size: 42px;
    line-height: 0.3;
    right: 24px;
    top: 24px;
    /*transition: 0.5s;*/
}


/*.setting:hover ~ .menu button {*/
/*    transition: 0.5s;*/
/*    background-color: #51cbdb;*/
/*}*/

/*.menu {*/
/*    position: absolute;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    width: 160px;*/
/*    right: 0;*/
/*    top: 60px;*/
/*    !*transition: 0.5s;*!*/
/*}*/

/*.item {*/
/*    padding-top: 6px;*/
/*    padding-bottom: 6px;*/
/*    font-size: 18px;*/
/*    background-color: red;*/
/*}*/

.author {
    display: flex;
    align-items: center;
    margin-bottom: 26px;
}

.wr {
    height: 64px;
    width: 64px;
    margin-right: 24px;
    border-radius: 50%;
    border: 2px solid #E8EEFF;
}

.author_img {
    border-radius: 50%;
}

.date {
    font-size: 14px;
    color: #B2B2B6;
}

.text {
    margin-bottom: 24px;
}

.img {
    max-height: 325px;
    object-fit: cover;
    border-radius: 0;
    margin-bottom: 12px;
}

.actions {
    margin-left: 30px;
}

.btn_like {
    height: 24px;
    margin-right: 28px;
}

.btn_like:hover {
    opacity: 0.6;
}

.btn_comment {
    height: 22px;
}

.btn_comment:hover {
    opacity: 0.6;
}