.navbar {
    flex: 0 0 278px;
    padding: 24px;
    height: max-content;
}

.item:first-child {
    margin-top: 0;
}

.item:last-child {
    margin-bottom: 0;
}

.link {
    display: flex;
    height: 100%;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 12px;
    margin-bottom: 12px;
    cursor: pointer;
    transition: 0.5s;
}

.svg_wr {
    height: 24px;
    margin-right: 24px;
}

.link:hover {
    padding-left: 10px;
    background-color: #aeaeae;
    border-radius: 40px;
}

.active {
    padding-left: 10px;
    background-color: #aeaeae;
    border-radius: 40px;
}


