
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

input::-ms-clear {
    display: none;
}

input:focus {
    box-shadow: 0 0 15px rgb(81 203 219);
    transition: 0.2s;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a :visited {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
    display: none;
}

@font-face {
    font-family: 'Poppins';
    src: url("./fonts/poppins-regular.woff2") format("woff2"),
    url("./fonts/poppins-regular.woff") format("woff");
}

body {
    background-color: #F5F9FF;
}

.App {
    font-family: Poppins, sans-serif;
    font-size: 16px;
}


svg {
    height: 100%;
    cursor: pointer;
}

.main_wr {
    max-width: 1200px;
    min-width: 320px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}


.block_light-blue {
    background-color: #FAFCFF;
    border: 1px solid #93B1ED;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.block_margin_right {
    margin-right: 24px;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}
